<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <% if (!!recaptcha) { %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <% } %>
</head>
<body>
    <div class="container ">
        <h1>Talk to me</h1>
        <form action="send" method="post">
            <% if (!!recaptcha) { %>
            <div class="g-recaptcha" data-sitekey="<%= recaptcha %>"></div>
            <% } %>
            <label for="email">Email</label>
            <br />
            <input type="email" name="email" id="email" placeholder="Your email" />
            <br />
            <label for="message">Message</label>
            <br />
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>